body, html{
    margin: 0;
    padding: 0;
    color: white;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: normal;
}
a{
    color: white;
}
.btn{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 32px;
    background-color: white;
    padding: 20px 100px;
    border-radius: 10px;
    transition: background-color .5s, color .5s;
    margin-right: 20px;
}
.btn:hover{
    background-color: black;
    color: white;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a:visited{
    color: inherit;
}
.hidden{
    opacity: 0;
}
.wrapper{
    height: 100vh;
    background: url('./img/mkb-bg.jpg') center center no-repeat cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.container-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.header{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 50px; 
}
.fight{
    margin-bottom: 50px;
}
.fighters__list{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.fighter__attack{
    display: flex;
    width: 20%;
    padding: 10px;
    background: black;
    margin-bottom: 10px;
    justify-content: center;
    border-radius: 25px;
}
.fighter{
    width: 250px;
    position: relative;
}

.fighter__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: white;
    background: black;
}
.fighter__healthPoint{
    display: flex;
}
.damage{
    color: rgb(131, 2, 2);
    font-weight: 700;
}
.fighter__hp{
    margin-right: 5px;
}
.fighter__name{
    font-size: 18px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fighter__person--img{
    height: 500px;
}
.fighter__person--img1{
    transform: scale(-1, 1);
}
.fighter__miss{
    position: absolute;
    font-size: 52px;
    font-weight: 700;
    top: 50%;
    
}
.fighter__miss--pos0{
    left: 150px;
}
.fighter__miss--pos1{
    right: -150px;
    left: 0;
}

.fighter__critical{
    position: absolute;
    top: 50%;
    color: rgb(150, 9, 9);
    font-size: 60px;
    font-weight: 700;

}
.blade-mail{
    position: absolute;
    width: 20px;
    top: -20px;
    right: 20px;
}
.blade-mail--img{
    width: 100px;
}
